@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

:root {
  --secondary: lightgrey;
  --dark: #303030;
  --light: #fff;
  --dark-shadow: #efefef;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  color: unset;
}

/* --------------- COMPONENTS HERE ONLY ----------------- */

/* Avatar --------- */
.avatar {
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}

/* --------- = Header Only = ------------- */
.header {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2em;
  padding: 0.4em 1.7em;
  position: sticky;
  top: 0;
  left: 0;
  background: var(--light);
  z-index: 99;
}
.header .menu-toggle {
  font-size: 1.8em;
  cursor: pointer;
  color: var(--dark);
}
.header .logo {
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  cursor: pointer;
}
.header .logo svg {
  font-size: 1.6em;
  color: red;
  margin-right: 3px;
}
.header .logo span {
  font-size: 1.3em;
  font-weight: 600;
}
.header .logo sup {
  font-size: 9px;
  position: relative;
  top: -8px;
  left: 3px;
}

.header .search {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header .search form {
  width: 100%;
  max-width: 520px;
  display: flex;
  border: 1px solid var(--dark-shadow);
  box-shadow: 0 2px 3px grey;
  border-radius: 999px;
  overflow: hidden;
}
.header .search form input {
  flex: 1;
  border: none;
  outline: none;
  padding: 0.5em 1em;
  font-size: 1em;
}

.header .search form button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  padding: 0 1em;
  cursor: pointer;
  background: unset;
  border-left: 1px solid grey;
}
.header .search form button svg {
  font-size: 1.9em;
  color: var(--dark);
}

.header .action-others {
  display: flex;
  align-items: center;
  gap: 1em;
}
.header .action-others svg {
  font-size: 1.7em;
  cursor: pointer;
  color: var(--dark);
}

/* VIDEO CARD HERE ---------- */
.videoCard {
  width: 100%;
  max-width: 310px;
  height: 300px;
  padding-bottom: 1em;
  cursor: pointer;
  border-radius: 7px 7px 0 0;
  overflow: hidden;
}
.videoCard:hover {
  border: 0;
  overflow: unset;
}

.videoCard .poster {
  width: 100%;
  height: 60%;
}
.videoCard .poster img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.videoCard .info {
  margin-top: 0.45em;
  padding: 0 3px;
}
.videoCard .info .title {
  font-size: 0.97em;
  font-weight: 500;
}
.videoCard .info .view_timestamp {
  margin-top: 0.3em;
}

.videoCard .info .view_timestamp span {
  font-size: 0.87em;
  letter-spacing: 0.3px;
  font-weight: 300;
}

/* SIDEBAR ONLY --------- */
.sidebar {
  width: 250px;
  display: flex;
  flex-direction: column;
  padding: 1em 1em 1em 0.7em;
  overflow-y: scroll;
}
.sidebar::-webkit-scrollbar {
  display: none;
}
.sidebar .item {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 1em;
  padding: 0.5em 0 0.5em 0.7em;
  border-radius: 6px;
}
.sidebar .item:hover {
  background: #efefef;
}
.sidebar .item svg {
  font-size: 1.5em;
}
.sidebar .item span {
  font-size: 0.87em;
}

.sidebar .divider {
  width: 100%;
  height: 1px;
  background: var(--dark-shadow);
  margin: 0.7em 0;
}
.sidebar .about-us {
  margin-top: 0.3em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
.sidebar .about-us .links {
  display: flex;
  gap: 0.5em;
  flex-wrap: wrap;
}
.sidebar .about-us a {
  color: teal;
  position: relative;
}
.sidebar .about-us a::before {
  content: "";
  width: 0;
  height: 2px;
  background: teal;
  position: absolute;
  bottom: 0;
  transition: width 0.4s ease;
}
.sidebar .about-us a:hover::before {
  width: 100%;
}

/* Feed --------- */
.feed {
  /* overflow-y: scroll; */
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  overflow-y: scroll;
  gap: 1.5em 1em;
  padding: 1.6em 0;
}

/* Pages ---------------- */

/* HOME HERE --------- */
.home {
  display: flex;
  max-height: calc(100vh - 60px);
  position: relative;
}

/* Responsive ----------- */
@media (max-width: 768px) {
  .sidebar {
    display: none;
  }
}
